@import url(https://fonts.googleapis.com/css?family=Exo+2:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --primary-color: #0d0d0d;
  --secondary-color: #080808;
  --muted-color: #4a4a4a;
  --hover-color: #f33f3f;
  --gray-color: #1f1f1f;
}

body {
  font-family: "Exo 2", sans-serif;
  background-color: var(--primary-color);
  color: white;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
